.container-box {
    background-color: gainsboro;
    width: 1350px;
    height: 600px;
    margin: 30px;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;   
}

.text-underline {
    text-decoration: underline;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.icon {
    color: brown;
    font-size: 40px !important;
    padding: 5px;
}

.buttons {
    padding-top: 2%;
    padding-left: 40%;
}

.text-editor {
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    padding-top: 1%;
}